*{
  margin: 0px;
  padding: 0px;
}

.wrapper {margin-top: 49px;}
body {
    background: url("images/mian-bg2.gif");
}

.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.leftmenutrigger{
    display: block;
}
#wrapper{
    padding: 90px 15px 15px 15px;
}
a:hover {
    color: yellow;
}
h1 {
    text-align: center;
}
.color1 {
    background-color: #171a1d;
}
.color1 i{
    font-size: 7rem;
}

i {
    color: white;
    resize: both;
}
.card-deck{
    column-count: 4;
    width: 100%;
    padding-top: 20px;
}
@media only screen and (max-width: 1000px) {
    .color1 i{
        font-size: 4.5rem;
    }
}
@media only screen and (max-width: 750px) {
    .color1 i{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 500px) {
    .color1 i{
        font-size: 1.5rem;
    }
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side{
    word-spacing: 20px;
    color: #007B5a;
    width: 208px;
    height: 100%;
    margin-bottom: 0px;
    background-color: #040505;
    position: fixed;
    left: 0px;
    /* margin: 42px; */
    padding-top: 40px;
}
h1 {
    text-align: center;
}
.color1 {
    background-color: #171a1d;
}
.color1 i{
    font-size: 7rem;
}

i {
    color: white;
    resize: both;
}

a.card-body {
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media only screen and (max-width: 1000px) {
    .color1 i{
        font-size: 4rem;
    }
}
@media only screen and (max-width: 800px) {
    .color1 i{
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 600px) {
    .color1 i{
        font-size: 2rem;
    }
}
.btnuser {
    padding-top: 15%;
}
.table {
    background-color: #171a1d;
}
.img {
    z-index: 0;
    padding: 5px;
}
.btn-color {
    color: white;
}
.mode-btn {

}

/*sidebar*/
ul.menu {
    padding-top: 5px;
    list-style-type: none;
    margin: 30px;
}
li {
    padding-top: 2px;
}
ul.menu li a {
    padding-top: 5px;
    height: 65px;
    display: inline-block;
    padding-left: 132px;
}
ul.menu li.img1 a {
    background-image: url("images/schedule.gif");
}
ul.menu li.img2 a {
    background-image: url("images/reserve.gif");
}
ul.menu li.img3 a {
    background-image: url("images/setup.gif");
}
ul.menu li.img4 a {
    background-image: url("images/room.gif");
}
ul.menu li.img5 a {
    background-image: url("images/manual_icon_white.gif");
}
ul.menu li.img6 a {
    background-image: url("images/top1.gif");
}
ul.menu li.img7 a {
    background-image: url("images/logout.gif");
}
/*a hover*/
ul.menu li.img1 a:hover {
    background-image: url("images/schedule-over.gif");
}
ul.menu li.img2 a:hover {
   background-image: url("images/reserve-over.gif");
}
ul.menu li.img3 a:hover {
  background-image: url("images/setup-over.gif");
}
ul.menu li.img4 a:hover {
   background-image: url("images/room-over.gif");
}
ul.menu li.img5 a:hover {
 background-image: url("images/manual_icon.gif");
}
ul.menu li.img6 a:hover {
background-image: url("images/top2.gif");
}
ul.menu li.img7 a:hover {
 background-image: url("images/logout-over.gif");
  }


/*zoom home*/
.zoom:hover {
    -ms-transform: scale(1.14);
    -webkit-transform: scale(1.14);
    transform: scale(1.14);
}

/*zoom setup*/
.zoom-setup:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}