*{
  margin: 0px;
  padding: 0px;
}

form#Login {
    margin: 30px 40px;
}
body#LoginForm{ background-image:url("images/mian-bg2.gif"); background-repeat:repeat;}

.login-form {
    background: #80768a;
    margin: 200px auto 100px;
    width: 50%;
    overflow: hidden;
}
div#top {
    /* margin: 15px 40px; */
    font-family:  -webkit-pictograph;
    font-size: 24px;
    color:white;
    background: blueviolet;
    text-align: center;
}
